In [16]:
import pandas as pd

In [7]:
ls

cotações.xlsm  README.md  Untitled.ipynb

In [13]:
data = pd.read_excel('cotações.xlsm','Precos').dropna().set_index('Data')

In [15]:
data

,IBOV,USDBRL,ABEV3,GGBR4,VALE3,PETR3,AZUL4,B3SA3,BBAS3,BBDC3,...,SMLS3,SUZB3,TIMP3,UGPA3,USIM5,VIVT4,VVAR3,WEGE3,YDUQ3,BIDI4
Data,,,,,,,,,,,,,,,,,,,,,
2018-05-02,84547,3.5061,22.670000,16.240000,48.709999,24.570000,35.509998,24.610001,36.020000,23.780300,...,73.010002,42.450001,15.48,30.059999,10.83,49.180000,8.10,18.010000,31.010000,74.750000
2018-05-03,83288,3.5496,22.600000,16.490000,49.090000,24.309999,33.779999,24.160000,35.000000,23.484800,...,72.599998,40.820000,15.40,27.004999,10.59,48.150002,7.61,17.600000,31.000000,75.699997
2018-05-04,83118,3.5266,22.500000,16.840000,49.700001,23.889999,33.480000,24.040001,34.930000,23.401501,...,75.800003,39.849998,15.50,27.000000,10.98,47.610001,7.56,17.200001,31.200001,71.139999
2018-05-07,82714,3.5255,22.340000,16.360001,49.240002,24.740000,33.000000,23.980000,34.889999,23.106100,...,70.879997,39.430000,15.49,26.500000,10.76,47.400002,7.60,16.920000,29.980000,72.699997
2018-05-08,82956,3.5492,22.440001,16.330000,49.189999,24.740000,33.090000,23.889999,35.840000,23.166700,...,68.959999,39.980000,15.85,26.275000,10.85,47.259998,7.65,16.860001,30.790001,74.099998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-23,79673,5.4569,11.550000,11.930000,43.509998,17.340000,16.370001,41.250000,28.049999,17.889999,...,14.520000,36.560001,13.35,14.540000,4.76,48.680000,7.36,39.590000,28.900000,9.920000
2020-04-24,75331,5.5331,11.110000,10.930000,43.759998,16.070000,13.990000,37.000000,24.299999,15.930000,...,13.950000,39.130001,12.20,13.490000,4.34,45.509998,6.38,38.709999,27.549999,9.000000
2020-04-27,78239,5.5726,11.610000,11.320000,44.549999,16.799999,14.110000,39.230000,25.690001,16.450001,...,13.900000,40.099998,12.55,14.310000,4.34,47.000000,7.57,40.599998,27.780001,9.300000
2020-04-28,81312,5.6526,11.700000,11.980000,44.610001,18.020000,16.049999,39.799999,29.139999,18.070000,...,15.700000,38.650002,12.54,14.580000,4.71,46.599998,9.04,41.580002,28.500000,9.660000
2020-04-29,83171,5.4974,11.670000,12.460000,46.730000,19.000000,17.120001,39.900002,29.559999,18.770000,...,15.670000,38.720001,13.09,15.370000,5.06,47.070000,9.18,41.400002,30.150000,9.740000